[submodule "Binaries"]
	path = Binaries
	url = https://github.com/Project-Silicium/Device-Binaries.git
[submodule "Common/Mu"]
	path = Common/Mu
	url = https://github.com/microsoft/mu_plus.git
	branch = release/202511
[submodule "Common/Mu_OEM_Sample"]
	path = Common/Mu_OEM_Sample
	url = https://github.com/microsoft/mu_oem_sample.git
	branch = release/202511
[submodule "Mu_Basecore"]
	path = Mu_Basecore
	url = https://github.com/microsoft/mu_basecore.git
	branch = release/202511
[submodule "Silicium-ACPI"]
	path = Silicium-ACPI
	url = https://github.com/dhytpodd-lab/Silicium-ACPI.git
    branch = 17c81c6a491cc1210e197a2f0e96dd5992d0d621
[submodule "Silicon/Silicium/OpensslPkg/Library/OpensslLib/openssl"]
	path = Silicon/Silicium/OpensslPkg/Library/OpensslLib/openssl
	url = https://github.com/openssl/openssl.git
	branch = 67b5686b4419b4cb8caa502711c41815f5279751
